<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <!--Import bootstrap css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css" />
  <!-- main.css-->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Red Social X</title>
  </head>
  <body>
    <div class="all-heigth">
      <div class="">
        <input type="text" name="" value="">
      </div>
      <button type="button" name="button">postear</button>











      <button id="logout" type="button" name="button">Log out</button>

    </div>

  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/feed.js"></script>
  </body>
</html>
